<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="bd.gov.ansarvdpbank.avubinfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fudie"
        android:usesCleartextTraffic="true">
        <activity android:name=".BranchActivity"
            android:exported="true"></activity>
        <activity android:name=".AuditActivity"
            android:exported="true"/>
        <activity android:name=".MediaActivity"
            android:exported="true"/>
        <activity android:name=".PortalActivity"
            android:exported="true"/>
        <activity android:name=".RegionalOffices"
            android:exported="true"/>
        <activity android:name=".DivisionActivity"
            android:exported="true"/>
        <activity android:name=".LoanActivity"
            android:exported="true"/>
        <activity android:name=".LoanDetailsActivity"
            android:exported="true"/>
        <activity android:name=".MdAddActivity"
            android:exported="true"/>
        <activity android:name=".ChairAddActivity"
            android:exported="true"/>
        <activity android:name=".BangabondhuActivity"
            android:exported="true"/>
        <activity android:name=".DmDirectorActivity"
            android:exported="true"/>
        <activity android:name=".MDirectorActivity"
            android:exported="true"/>
        <activity android:name=".ChairActivity"
            android:exported="true"/>
        <activity android:name=".ClientCornerActivity"
            android:exported="true"/>
        <activity android:name=".HotlineActivity"
            android:exported="true"/>
        <activity android:name=".ContactActivity"
            android:exported="true"/>
        <activity android:name=".QuestionActivity"
            android:exported="true"/>
        <activity android:name=".OfficeActivity"
            android:exported="true"/>
        <activity android:name=".DepositActivity"
            android:exported="true"/>
        <activity android:name=".MissionActivity"
            android:exported="true"/>
        <activity android:name=".BankIntro"
            android:exported="true"/>
        <activity android:name=".FullActivity"
            android:exported="true"/>
        <activity android:name=".ShareActivity"
            android:exported="true"/>
        <activity android:name=".MainActivity"
            android:exported="true"/>
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>