<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="bd.gov.ansarvdpbank.avubinfo">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fudie"
        android:usesCleartextTraffic="true">
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.LoanActivity"></activity>
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.LoanDetailsActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.MdAddActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.ChairAddActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.BangabondhuActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.DmDirectorActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.MDirectorActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.ChairActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.ClientCornerActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.HotlineActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.ContactActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.QuestionActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.OfficeActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.DepositActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.MissionActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.BankIntro" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.FullActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.ShareActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.MainActivity" />
        <activity android:name="bd.gov.ansarvdpbank.avubinfo.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>